*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    background: #f6f6f9;
}

nav{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #164a3d;
    width: 90px;
    z-index: 10;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

nav .logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: #fff;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

a:hover{
    background-color: #eee;
    color: black;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.fas{  
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.logo:hover{
    background: #eee;
}

nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}

.box{
    margin-left: 100px;
    display: flex;
}

.sub-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
}

.inputs{
    display: flex;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #c2c2c2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.inputs-bottom{
    display: flex;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c2c2c2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.inputs input, .inputs-bottom input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    background-color: #eee;
    margin-top: 5px;
    display: flex;
}

.inputs span, .inputs-bottom span{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.inputs select{
    padding: 8px;
    border-radius: 5px;
    border: 0;
    background-color: #eee;
    border: 1px solid #c2c2c2;
}

.inputs select:focus{
    border: 1px solid #03c938;
    outline: #03c938;
}

.inputs input:focus, .inputs-bottom input:focus{
    border: 1px solid #03c938;
    outline: #03c938;
}

.inputs button{
    padding: 8px;
    border-radius: 5px;
    margin-top: 15px;
    border: 0;
    background-color: #03c938;
    font-size: 15px;
    color: white;
}

.inputs-bottom button{
    padding: 8px;
    border-radius: 5px;
    margin-top: 15px;
    border: 0;
    background-color: #164a3d;
    font-size: 15px;
    border: 0;
    color: white;
}

.inputs button:hover{
    cursor: pointer;
    background-color: #eee;
    transition-duration: 0.2s;
    color: black;
}

.inputs-bottom button:hover{
    cursor: pointer;
    background-color: #eee;
    transition-duration: 0.2s;
    color: black;
}

.scrollable-table {
    display: block;
    max-height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

.table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin-right: 5px;
}

table{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

table td{
    background-color: #eee;
    border: 0;
    padding: 10px;
    width: 100%;
}

table td select{
    padding: 5px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    border: 2px solid #fff;
}

table td select:focus{
    border: 2px solid #fff;
    outline: #fff;
}

.title{
    text-align: center;
}

.segmento{
    font-weight: bold;
    background-color: #fff;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.errors{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

#error{
    display: flex;
    position: relative;
    background-color: rgb(255, 0, 0, 0.3);
    padding: 10px;
    opacity: 0.9;
    margin-top: 10px;
    width: 90%;
    font-weight: bold;
    color: black;
    border-left: 15px solid red;
    border-radius: 3px;
    z-index: 2;
}

svg{
    margin-right: 10px;
}

#sucess{
    display: flex;
    position: relative;
    background-color: rgb(0, 255, 0, 0.3);
    padding: 10px;
    opacity: 0.9;
    margin-top: 10px;
    width: 90%;
    font-weight: bold;
    color: black;
    border-left: 15px solid green;
    border-radius: 3px;
    z-index: 2;
}

.scrollable-table::-webkit-scrollbar {
    width: 10px;
  }
  
.scrollable-table::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
.scrollable-table::-webkit-scrollbar-thumb {
    background: #888;
}
  
.scrollable-table::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
    background: #888;
}
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 920px){
    .inputs{
        min-width: 80%;
    }
}
@media screen and (max-width: 820px){
    .inputs input{
        width: 20%;
    }
}
@media screen and (max-width: 750px){
    .inputs input{
        width: 20%;
    }
}
@media screen and (max-width: 715px){
    .inputs input{
        width: 20%;
    }
}
@media screen and (max-width: 680px){
    .inputs-bottom{
        min-width: 90%;
    }
}
@media screen and (max-width: 585px){
    .inputs span{
        font-weight: normal;
        font-size: 12px;
    }
    .inputs input{
        width: 30%;
    }
}

@media screen and (max-width: 555px){
    .inputs button{
        width: 20%;
        padding: 5px;
    }
    .inputs input{
        width: 20%;
    }
}

@media screen and (max-width: 545px){
    .inputs-bottom span{
        font-weight: normal;
        font-size: 12px;
    }
    .inputs-bottom input{
        width: 30%;
        padding: 5px;
        margin-left: 0;
        margin-right: 0;
    }
    .inputs-bottom button{
        padding: 5px;
        width: 25%;
        font-size: 12px;
    }
    .inputs button{
        margin-top: 0;
    }
}

@media screen and (max-width: 480px){
    .inputs button{
        width: 35%;
    }
}

.segmento2{
    margin-right: 10px;
}

#turma{
    width: 100%;
}

#segmentodeletar{
    padding: 8px;
    border-radius: 5px;
    border: 0;
    background-color: #eee;
    border: 1px solid #c2c2c2;
    margin-right: 10px;
    width: 100%;
}

#segmentodeletar:focus{
    border: 1px solid #03c938;
    outline: #03c938;
}

.serie, .turma, .deletar{
    display: flex;
    flex-direction: column;
}

#segmento2{
    width: 100%;
}

.serie{
    margin-top: 20px;
}

.popup{
    display: none;  
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.popupbox{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 250px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #d1d1d1;
}

.popup .buttons{
    display: flex;
    margin-top: 20px;
    width: 70%;
}

.buttons button{
    padding: 10px;
}

#confirmar{
    padding: 15px;
    border-radius: 7px;
    font-size: 16px;
    margin-left: 10px;
    color: white;
    width: 50%;
    background-color: rgba(255, 0, 0, 0.7);
    border: 0;
}

#cancelar{
    padding: 15px;
    border-radius: 5px;
    background-color: #eee;
    font-size: 15px;
    margin-left: 10px;
    width: 50%;
    border: 0;
}

#confirmar:hover{
    background-color: #eee;
    cursor: pointer;
    transition-duration: 0.2s;
    color: black;
}

#cancelar:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition-duration: 0.2s;
}