*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #f6f6f9;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.box{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 30%;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}

.inputs input:focus{
    border: 1px solid #03c938;
    outline: #03c938;
}

.inputs select{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}

.inputs select:focus{
    border: 1px solid #03c938;
    outline: #03c938;
}

.inputs span{
    margin-top: 10px;
    margin-bottom: 5px;
}

.title{
    text-align: center;
    margin-bottom: 10px;
}

.buttons button{
    background-color: #03c938;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    border: 0;
    margin-top: 15px;
}

.buttons button:hover{
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: #eee;
}



.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px){
    .box{
        width: 40%;
    }
}

@media screen and (max-width: 950px){
    .box{
        width: 50%;
    }
}

@media screen and (max-width: 700px){
    .box{
        width: 65%;
    }
}

@media screen and (max-width: 500px){
    .box{
        width: 75%;
    }
}

@media screen and (max-width: 450px){
    .box{
        width: 90%;
    }
}

.elements{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
    margin-bottom: 5px;
}

header{

    width: 100%;
    height: 80px;
    background: #164a3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo{

    font-size: 28px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.nav-bar-elements{

    display: flex;
    flex-direction: right;
    justify-content: flex-start;
}

.nav-bar ul{

    display: flex;
}

.nav-bar ul li a{

    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{

    color: #11101b;
    background: #eee;
}

#botaoVoltar{
    background-color: inherit;
    padding: 10px;
    color: #fff;
    border-radius: 15px;
    border: 0;
    font-size: 20px;
}

#botaoVoltar:hover{
    background-color: #fff;
    color: black;
    transition-duration: 0.2s;
    cursor: pointer;
}